Package: com.touchWorld.doubanTweak
Name: DoubanTweak
Version: 1.0.0
Description: 去除豆瓣广告插件
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts:
Replaces:
Priority: optional
Architecture: iphoneos-arm
Author: TouchWorld
dev:
Homepage: https://github.com/TouchFriend/DoubanTweak
Depiction:
Maintainer: TouchWorld
Icon: https://touchfriend.github.io/depictions/com.touchWorld.doubanTweak/icon.png



